
.weatherData{
    margin-top: 3.5rem;
}

h1 {
    font-size: 3.2rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}

.date {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: gray;
}

.tempContainer {
    border: 1px solid #646cff;
    align-items: center;
    margin-top: 1rem;
    border-radius: 8px;
    background-color: #1a1a1a;
    margin-bottom: 2rem;
    max-width: 410px;
    padding: 0;
}

.tempContainer .description {
    text-transform: capitalize;
}

.inactiveUnit {
    color: gray;
    font-weight: 600;
}
