
.weatherData{
    margin-top: 3.5rem;
}

h1 {
    font-size: 3.2rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}

.date {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--date-color);
}

.tempContainer {
    border: 1px solid #646cff;
    align-items: center;
    margin-top: 1rem;
    border-radius: 8px;
    background-color: var(--temp-container-bg);
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

img {
    width: 100px;
}

.tempContainer .description {
    text-transform: capitalize;
    font-size: 0.9rem;
    position: relative;
    top: -1.2rem;
    text-align: center;
    padding: 5px;
}

.tempNumber {
    font-size: 3rem;
    font-weight: 600;
    margin-left: 10px;
}

.inactiveUnit {
    color: gray;
    font-weight: 600;
}

.info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 0 20px;
}

.day {
    text-align: center;
}

.forecastMinTemp {
    color: gray;
}
