
.weatherData{
    margin-top: 3.5rem;
}

h1 {
    font-size: 3.2rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}

.date {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: gray;
}

.tempContainer {
    border: 1px solid #646cff;
    align-items: center;
    margin-top: 1rem;
    border-radius: 8px;
    background-color: #1a1a1a;
    margin-bottom: 2rem;
    /* max-width: 330px; */
    width: 100%;

    /* padding: 0 20px 5px 0; */
    display: flex;
    justify-content: center;
}

img {
    width: 100px;
}

.tempContainer .description {
    text-transform: capitalize;
    font-size: 0.9rem;
    position: relative;
    top: -1.2rem;
    text-align: center;
    padding: 5px;
}

.tempNumber {
    font-size: 3rem;
    font-weight: 600;
    margin-left: 10px;
}

.inactiveUnit {
    color: gray;
    font-weight: 600;
}

.day {
    /* border: 1px solid red; */
    text-align: center;
}
