@import "tailwindcss";

.app {
    border-radius: 8px;
    max-width: 380px;
    margin: 0 auto;
}

p {
    margin: 0;
}

.searchContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.darkModeIcon{
    width: 30px;
    cursor: pointer;
    margin: 0 15px;
}

form {
    display: flex;
}

.searchBar{
    border: 1px solid lightgray;
    padding: 5px 10px;
    border-radius: 8px;
    margin-right: 15px;
    text-transform: capitalize;
}

.searchBar::placeholder{
    text-transform: lowercase;
    color: gray;
}

.btnSearch {
    border: 1px solid darkgray;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 16px;
    background-color: var(--btn-search-bg);
    cursor: pointer;
    /* transition: all 0.1s ease-in-out; */
    color: var(--btn-text-color);
}

.btnSearch:hover {
    background-color: var(--btn-search-hover-bg);
}

