:root {
    --background-color: #242424;
    --text-color: rgba(255, 255, 255, 0.87);
    --date-color: gray;
    --btn-text-color: white;
    --temp-container-bg: #1a1a1a;
    --btn-search-bg: rgb(67, 61, 155);
    --btn-search-hover-bg: rgba(67, 61, 155, 0.801);
}

[data-theme="light"] {
    --background-color: #e4e5f1;
    --text-color: #484b6a;
    --date-color: #9394a5;
    --btn-text-color: white;
    --temp-container-bg: #d0d3f2;
    --btn-search-bg: #646cff;
    --btn-search-hover-bg: rgba(100, 108, 255, 0.801);
}

body {
    padding: 25px 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100vh;
}